body{background:#000;color:#fff;font-family:Arial;}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
}

header h1 {
    font-size: 24px;
}

nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}
